<img class="center-block" id="main-logo" ng-src="contents/logo.png" alt="Simpatize Logo">

<div class="container-fluid" id="search-container">
	
	<div class="row no-gutter">

		<div class="col-md-6">
			<ui-select 
				ng-model="selectedType" 
				theme="bootstrap"> 

				<ui-select-match placeholder="Tipo de estabelecimento...">{{ $select.selected.name }}</ui-select-match>
				<ui-select-choices repeat="type in types | filter: $select.search">
					<span ng-bind="type.name"></span>
				</ui-select-choices>
			</ui-select>
		</div>

		<div class="col-md-6">
			<button class="btn btn-block btn-primary" ng-click="placesCtrl.search()">
				Buscar           
			</button>
		</div>
	</div> 

	<div class="row">	
		<div class="list-group">
			<a href="#" class="list-group-item" ng-repeat="place in placesCtrl.places">
				{{ place.name }}
			</a>
		</div>
	</div>

</div>
